@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* .PopverTrigger {
  background-color: white;
  color: aliceblue;
  padding: 4px 20px;
  color: purple;
  border-radius: 4px;
} */

.PopoverTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}

.PopoverContent {
  background-color: aliceblue;
  color: purple;
  padding: 20px;
  border-radius: 4px;
}

.PopoverArrow {
  fill: aliceblue;
}
